.section {
  background-color: #2c2c2c;
  color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;


}

.section h2 {
  font-size: 22px;
  margin-bottom: 16px;
  color: #f0f0f0;
}

.bill-box {
  background-color: #1f1f1f;
  color: #00ffcc;
  padding: 16px;
  width: 500px;
  border-radius: 6px;
  border: 1px solid #444;
  margin-bottom: 16px;
  white-space: pre-wrap;
  font-family: monospace;
  font-size: 15px;
  
}

.button {
  background-color: #555;
  color: #fff;
  border: none;
  padding: 10px 18px;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.button:hover {
  background-color: #777;
}

@media (max-width: 600px) {
  .sectionbill {
    padding: 16px;
  }

  .sectionbill h2 {
    font-size: 18px;
    text-align: center;
  }

  .bill-box {
    width: 100%;
    font-size: 18px;
    padding: 12px;
  }

  .button {
    width: 100%;
    font-size: 14px;
    padding: 10px;
    text-align: center;
  }
}

